<div id="portfolio">
   <div class="row">
      <figure>
         <img src="../img/1.jpg" alt="description of image" /> 
         <figcaption>Uncharted Horizons</figcaption>
      </figure>

      <figure>
         <img src="../img/2.jpg" alt="description of image" /> 
         <figcaption>Psychedelic Maze</figcaption>
      </figure>

      <figure>
         <img src="../img/3.jpg" alt="description of image" /> 
         <figcaption>Starry Guide</figcaption>
      </figure>
   </div>   
   <div class="row">
      <figure>
         <img src="../img/4.jpg" alt="description of image" /> 
         <figcaption>Fallen Garden</figcaption>
      </figure>

      <figure>
         <img src="../img/5.jpg" alt="description of image" /> 
         <figcaption>Hidden Wonder</figcaption>
      </figure>

      <figure>
         <img src="../img/6.jpg" alt="description of image" /> 
         <figcaption>Blissful Haven</figcaption>
      </figure>
   </div>
</div>